$primero: #e4bbe9;
$segundo: #00503f;
$tercero:  #efede7;
$cuarto: #40FFB5;
$quinto: #de6eeb;
$sexto: #d01ce7;
$septimo: #d23be6;
$octavo: white;


$paleta_de_colores:(
    primero: $primero,
    segundo: $segundo,
    tercero: $tercero,
    cuarto: $cuarto,
    quinto: $quinto,
    sexto:$sexto,
    septimo:$septimo,
    octavo: $octavo
);