.display{
    display: flex;
    flex-wrap: wrap;
}

.info_presentacion{
    width: 50%;
}

.presentacion2{
    display: flex;
    background-color:map-get($paleta_de_colores , segundo);
}

.display_footer{
    display: flex;
}

.galeria{
    @extend .display;
    justify-content: space-evenly;
}

.formulario_sus{
    display: flex;
}