.links{
    list-style-type: none;
    text-decoration: none;
    padding-top: 3vh;
    padding-left: 5vh;
    text-align: center;
    color: white;
    font-size: 4.5vh;

    li{
        a{
            text-decoration: none;
            color: white;
            font-family: 'Lora', serif; 
        }
    }
}