.links{
    list-style-type: none;
    text-decoration: none;
    padding-top: 3vh;
    padding-left: 5vh;
    text-align: center;
    color: map-get($paleta_de_colores , octavo);
    font-size: 4.5vh;

    li{
        a{
            text-decoration: none;
            color: map-get($paleta_de_colores , octavo);
            font-family: 'Lora', serif; 
        }
    }
}