footer{
    background-color: map-get($paleta_de_colores , primero );
}

.direccion{
    display: inline-block;
    width: 33.35%;
    padding-top: 5vh;
    padding-left: 10vh;
    padding-bottom: 3vh;
    font-family: 'Lora', serif; 
}

.horarios{
    display: inline-block;
    width: 33.3%;
    padding-top: 5vh;
    padding-left: 20vh;
    padding-bottom: 3vh;
}

.btn_redes{ 
    display: flex;
    flex-wrap: wrap;
    width: 33.3%;
    padding-top: 5vh;
    padding-left: 20vh;
    a{
        text-decoration: none;
        padding-left: 2vh;
    }
    
}

.btn--instagram{
    font-size: 40px;
    background: map-get($paleta_de_colores , octavo);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;

    &:hover{
        background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443AB);
        color: map-get($paleta_de_colores , octavo);
    }
}

.btn--facebook{
    font-size: 40px;
    background: map-get($paleta_de_colores , octavo);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

.btn--whatsapp{
    @extend .btn--facebook;
}