.img_inicio{
    background-image: url(https://pixabay.com/get/g35c06a3ab88de1f61bc3b0849210e36f7088334d7840b904eeb0f7a97fed9fc363dc120867afa08a1713acec40be2ba3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo_sobre_nos{
    @extend .img_inicio;
    background-image: url(../assets/img/hotel8.jpg);
}

.fondo_suscribete{
    @extend .img_inicio;
    background-image: url(../assets/img/playa.jpg);
}

.img_main{
    display: inline-block;
    height: 50vh;
    padding: 5vh;
    border-radius: 70px;
}

.img_main2{
    @extend .img_main;
    padding-left: 2vh;
}

.img_prop{
    display: inline-block;
    @include width(100%);
}

.galeria{
    img{
        @include width(30%);
        padding: 10px;
    }

    img:hover{
        border: solid 3px map-get($paleta_de_colores, septimo);
    }
}

.img{
    @include width(50%);
    display: inline-block;
}

.img_sob{
    display: inline-block;
    padding-top: 8vh;
    @include width(100%);
}

.img_sob1{
    display: inline-block;
    @include width(100%);
}

